<h2>Detalhes do Telefone</h2>

<div class="phone-detail">
  <img ng-src="{{$ctrl.mainImageUrl}}" class="phone" />

  <div>
    <h3>{{$ctrl.phone.name | uppercase}}</h3>

    <dl>
      <dt>Infrared</dt>
      <dd>{{$ctrl.phone.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{$ctrl.phone.connectivity.gps | checkmark}}</dd>
    </dl>

    <p>{{$ctrl.phone.description}}</p>

    <h4>Fotos do Produto</h4>
    <ul class="phone-thumbs">
      <li ng-repeat="img in $ctrl.phone.images">
        <img ng-src="{{img}}" ng-dblclick="$ctrl.onDblclick(img)" ng-click="$ctrl.setImage(img)"  ng-mouseover="$ctrl.onFocus(img)" />
      </li>
    </ul>

    
    <h4>Especificações</h4>

    <ul class="specs">
      <li>
        <span>Availability and Networks</span>
        <dl>
          <dt>Availability</dt>
          <dd ng-repeat="availability in $ctrl.phone.availability">{{availability}}</dd>
        </dl>
      </li>
      ...
      <li>
        <span>Additional Features</span>
        <dd>{{$ctrl.phone.additionalFeatures}}</dd>
      </li>
    </ul>
  </div>
</div>