<div class="container-fluid product-list">
  <h2>Lista de Produtos</h2>
  <div class="row">
    <div class="col-md-2 filters">
      <!--Sidebar content-->

      <p>
        Procure por:
        <input ng-model="$ctrl.query">
      </p>
      <p>&nbsp;&nbsp;</p>
      <p>
        Ordernar por:
        <select ng-model="$ctrl.orderProp">
          <option value="">Select One</option>
          <option value="title">title</option>
          <option value="price">Price</option>
          <option value="id">ID</option>
        </select>
      </p>

    </div>

    <div class="col-md-10 list-itens">
      <!--Body content-->
      <div>
        <!--div ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <h2><p style="color: blue; font-weight: 700;">{{product.title}}</p></h2>
            <p>{{product.description}}</p>
            <div ng-if="product.subProductsItens.length > 0">
              <h3 style="color: rgb(134, 97, 15); font-size: 20px; font-weight: 700;">Sugestões:</h3>
              <div ng-repeat="subproduct in product.subProductsItens">
                <h3><a style="font-size: 16px;" href="#!/products/{{subproduct.label}}">{{ subproduct.title }}</a></h3>
              </div>
            </div>
          </div>
        </div-->

        <ul class="products">
          <li ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <h3><a href="#!/products/{{product.label}}">{{product.title}}</a></h3>
            <a href="#!/products/{{product.label}}" class="thumb">
              <img ng-src="{{product.imageUrl}}" alt="{{product.title}}" width="200" />
            </a>
            <div ng-switch="product.fixedPrice">
              <h4 ng-switch-when="true">{{ product.price | currency : 'R$' : 2 }}</h4>
              <h4 ng-switch-default>à partir de {{ product.price | currency : 'R$' : 2 }}</h4>
            </div>
            <p>Categoria: {{product.label}}</p>
            <p>{{product.description}}</p>

            <div ng-if="product.subProductsItens.length > 0">
              <h3>Sugestões:</h3>
              <div ng-repeat="subproduct in product.subProductsItens">
                <h5><a style="font-size: 16px;" href="#!/products/{{subproduct.label}}">{{ subproduct.title }}</a></h5>
                <p>{{ subproduct.description }}</p>
              </div>
            </div>

          </li>
        </ul>
      </div>



      <!--ul class="products">
        <li ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <h3><a href="#!/products/{{product.label}}">{{product.title}}</a></h3>
          <a href="#!/products/{{product.label}}" class="thumb">
            <img ng-src="{{product.imageUrl}}" alt="{{product.title}}" width="200" />
          </a>
          <div ng-switch="product.fixedPrice">
            <h4 ng-switch-when="true">{{ product.price | currency : 'R$' : 2 }}</h4>
            <h4 ng-switch-default>à partir de {{ product.price | currency : 'R$' : 2 }}</h4>
          </div>
          <p>Categoria: {{product.label}}</p>
          <p>{{product.description}}</p>
          <a href="#!/products/{{product.label}}" class="thumb">Ver produtos</a>

          <h4>Subprodutos</h4>
          <ul>
            <li ng-repeat="subproduct in product.subProductsItens">
              {{ subproduct.title }}
            </li>
          </ul>
        </li>
      </ul-->

    </div>
  </div>
</div>