<div class="container-fluid product-list">
  <h2>Lista de Produtos</h2>
  <div class="row">
    <div class="col-md-2 filters">
      <!--Sidebar content-->

      <p>
        Procure por:
        <input ng-model="$ctrl.query">
      </p>
      <p>&nbsp;&nbsp;</p>
      <p>
        Ordernar por:
        <select ng-model="$ctrl.orderProp">
          <option value="">Select One</option>
          <option value="title">title</option>
          <option value="price">Price</option>
          <option value="id">ID</option>
        </select>
      </p>

    </div>
    <div class="col-md-10 list-itens">
      <!--Body content-->

      <ul class="products">
         <li ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <h3><a href="#!/products/{{product.label}}">{{product.title}}</a></h3>
          <a href="#!/products/{{product.label}}" class="thumb">
            <img ng-src="{{product.imageUrl}}" alt="{{product.title}}" width="200" />
          </a>
          <div ng-switch="product.fixedPrice">
            <h4 ng-switch-when="true">{{ product.price | currency : 'R$' : 2 }}</h4>
            <h4 ng-switch-default>à partir de {{ product.price | currency : 'R$' : 2 }}</h4>
          </div>
          <p>Categoria: {{product.label}}</p>
          <p>{{product.description}}</p>
          <a href="#!/products/{{product.label}}" class="thumb">Ver produtos</a>
        </li>
      </ul>

    </div>
  </div>
</div>